.contact-banner {
    background-image: url('/public/images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
  
.contact-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
  
.contact-info,
.contact-form {
    margin-bottom: 40px;
}
  
.contact-info h2,
.social-media h2,
.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1.3rem;
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
}
  
.contact-form textarea {
    resize: vertical;
}
  
.contact-form button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
  
.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.social-media ul li {
    font-size: 1.3rem;
    margin-bottom: 5px;
}
  
.social-media ul li a {
    text-decoration: none;
    color: #333;
}
  
.social-media ul li a:hover {
    color: #000;
}
  
@media (min-width: 768px) {
    .contact-content {
      flex-direction: row;
    }
    
  
    .contact-info,
    .contact-form {
      flex: 1;
      margin-bottom: 0;
    }
  
    .contact-form {
      margin-left: 40px;
      max-width: 800px;
      margin: 0 auto;
    }
}
  